fastapi==0.115.0
fastapi-jwt[authlib]==0.3.0
uvicorn==0.31.0
gunicorn==21.0.0
python-multipart==0.0.11
requests==2.32.3
dotenv==0.9.9
httpx==0.28.1
beartype
huggingface_hub
six
chardet
tiktoken
pandas
pymilvus>=2.3.0
xxhash
openai
llama-index-core
llama-index-postprocessor-dashscope-rerank-custom
dashscope
apscheduler>=3.10.0
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.0
